:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bg-animation: rgba(33, 150, 243, 0.9);
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #ffffff;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --modal-bg: rgba(0, 0, 0, 0.2);
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}
/* -----------------------------------------------HEADER-------------------------------------------------- */

.container-nav {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

/* -----------------------------------------------LOGO-------------------------------------------------- */

.header-logo {
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header .logo-accent {
  color: var(--primary-text-color);

  transition: color 250ms var(--animation-timing);
}

.footer .logo-accent {
  color: var(--primary-white-color);

  transition: color 250ms var(--animation-timing);
}

.footer-logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.header-logo:hover .logo-accent,
.header-logo:focus .logo-accent {
  color: var(--accent-color);
}

.footer-logo:hover .logo-accent,
.footer-logo:focus .logo-accent {
  color: var(--accent-color);
}

/* -----------------------------------------------SITE-NAV-------------------------------------------------- */

.header {
  border: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.header .container-nav {
  display: flex;
  align-items: center;
}

.header-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;

  transition: color 250ms var(--animation-timing);
}

.header-items:not(:last-child) {
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

.header-mail {
  display: inline-flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  margin-right: 50px;

  transition: color 250ms var(--animation-timing);
}

.mail-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  align-self: center;

  transition: fill 250ms var(--animation-timing);
}

.header-mail:hover .mail-icon,
.header-mail:focus .mail-icon {
  fill: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel {
  display: inline-flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;

  transition: color 250ms var(--animation-timing);
}

.mob-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  align-self: center;

  transition: fill 250ms var(--animation-timing);
}

.header-tel:hover .mob-icon,
.header-tel:focus .mob-icon {
  fill: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* -----------------------------------------------HERO-------------------------------------------------- */

.hero {
  background: var(--footer-bg-color);
  text-align: center;
  padding: 200px 0;
}

.hero.overlay {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--primary-text-color);

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--animation-timing);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-accent-color);
}

/* -----------------------------------------------ADVANTAGE-------------------------------------------------- */

.advantage {
  padding-top: 94px;
}

.advantage-list {
  display: flex;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-item {
  width: 270px;
}

.advantage-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background: var(--button-bg-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.advantage-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.advantage-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -----------------------------------------------ACTIVITY-------------------------------------------------- */

.activity {
  color: var(--primary-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity-job {
  display: flex;
}

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.activity-item {
  width: 370px;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.activity-product {
  position: relative;
}

.activity-product-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 27px 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* -----------------------------------------------TEAM-------------------------------------------------- */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-bg-color);
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: 270px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  padding-bottom: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.team-soc-item:first-child {
  margin-left: 0;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-white-color);

  transition: background-color 250ms var(--animation-timing);
}

.team-soc-icon {
  fill: var(--icon-color);

  transition: fill 250ms var(--animation-timing);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--primary-white-color);
}

/* -----------------------------------------------CLIENTS-------------------------------------------------- */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--primary-text-color);
}

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transition: color 250ms var(--animation-timing), border 250ms var(--animation-timing);
}

.client-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* -----------------------------------------------PORTFOLIO-------------------------------------------------- */

.portfolio {
  padding: 94px 0;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .filter-item + .filter-item {
  margin-left: 8px;
}

.portfolio-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--button-bg-color);
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;

  transition: color 250ms var(--animation-timing), background-color 250ms var(--animation-timing);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-items:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-items:hover .portfolio-thumbs-text {
  transform: translate(0%);
}

.content {
  padding: 20px 21px;
  background: #ffffff;
  border: 1px solid var(--button-bg-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-thumbs {
  position: relative;
  overflow: hidden;
}

.portfolio-thumbs-text {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-animation);

  transform: translateY(100%);
  transition: transform 250ms var(--animation-timing);
}

.portfolio-depiction {
  position: absolute;
  width: 322px;
  height: 168px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

/* -----------------------------------------------FOOTER------------------------------------------------- */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts {
  width: 231px;
  margin-right: 70px;
}

.footer-contacts a {
  display: block;
  margin-top: 9px;
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-text-color);

  transition: color 250ms var(--animation-timing);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-text-color);

  transition: color 250ms var(--animation-timing);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-adress {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-top: 20px;
}

/* -----------------------------------------------FOOTER SOCIAL------------------------------------------------- */

.footer-blocks {
  display: flex;
  align-items: baseline;
}

.footer-soc {
  width: 206px;
}

.footer-soc-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.footer-soc-item:first-child {
  margin-left: 0;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--animation-timing);
}

.footer-soc-icon {
  fill: var(--primary-white-color);

  transition: fill 250ms var(--animation-timing);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
  fill: var(--primary-white-color);
}

/* -----------------------------------------------MODAL------------------------------------------------- */
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  opacity: 1;

  background: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 400ms var(--animation-timing), transform 400ms var(--animation-timing);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%), scale(0.5);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%), scale(1);
  transition: transform 400ms var(--animation-timing);
}

.close-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border-radius: 50%;
  border: 1px solid var(--modal-bg);
  cursor: pointer;
}
